nav {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.03);
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
header ul li a {
  color: var(--primary-color);
  font-size: large;
}

header ul li a:hover {
  color: var(--secondary-color);
}

.close-menu {
  display: none;
}

.logo {
  height: 70px;
  width: 90px;
}

.menu-icon {
  display: none;
}
.menu-icon .line {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
}

@media screen and (max-width: 550px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    top: 0px;
    right: 0px;
    margin: 0;
    width: 200px;
    height: 100vh;
    padding: 20px;
    z-index: 1000;
    background-color: var(--primary-color);
    display: none;
  }

  header nav .active {
    display: block;
  }
  nav ul li a {
    color: white;
  }
  nav ul li {
    padding: 20px;
  }

  .menu-icon {
    display: block;
  }

  .close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .close-icon {
    font-size: 40px;
    color: white;
    cursor: pointer;
    line-height: 1;
    transition: transform 0.2s;
  }

  .close-icon:hover {
    transform: scale(1.2);
  }
}
