body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --primary-color: rgb(76, 35, 3);
    --secondary-color: rgb(200, 108, 37);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}